# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyo
.Python

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env
*.env

# Data
*.csv
*.xlsx
*.h5
*.db

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log
